<a href="https://colab.research.google.com/github/kimayeon-hub/DeepLearning1/blob/main/Python/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 연산
- %: 나머지
- //: 몫

In [ ]:
11//3

3

In [ ]:
8%3

2

# numpy
- numpy를 사용하면 내부적으로 배열로 사용됨

In [ ]:
import numpy as np

In [ ]:
np.cos(3.14)

-0.9999987317275395

In [ ]:
np.cos(np.pi)

-1.0

# 변수
- 파이썬에서 변수를 넣는 것과 C에서 변수를 넣는 것은 다름
- python: 변수가 일종의 tag로 들어감
```python
n = 3
n = 4
# 위의 코드는 n이라는 상자 값이 3에서 4로 바뀐는 것이 아니라 4를 n이라고 부르는 것
```
- C: 어떤 상자에 값을 넣는 것

#### 변수가 중요한 이유
- 똑같은 코드의 반복을 줄일 수 있음
- 어떤 값을 고칠 때 일괄적으로 한 번에 값을 고칠 수 있음

#### 변수 타입
- int (4byte)
- float
- char (1byte)
- boolean: True or False

In [ ]:
n = 3

In [ ]:
v1 = 125 * 13
v2 = 356 * 17

print(v1 + v2)
print(v1 - v2)

7677
-4427

In [ ]:
type(v1)

int

In [ ]:
v1 = 'Hello'
type(v1)

str

> v1 변수의 타입이 바뀐 것이 아니라 가리키는 값이 바뀐 것

# 함수
- 입력 값에 대한 값을 출력해 줌
- 복잡한 코드를 단순하게 만들어 재사용 가능

#### 함수를 사용하는 이유
- 반복된 코드를 줄일 수 있음

In [ ]:
print('hi')

hi

In [ ]:
print('hello')

hello

In [ ]:
s = np.sin(np.pi / 3)
s

0.8660254037844386

#### 함수의 실행 순서
1. np.pi
2. np.pi / 3
3. np.sin(np.pi / 3)
4. s = np.sin(np.pi / 3)

#### 파라미터가 2개인 함수
- 파라미터의 순서를 맞춰서 넣어줘야 함

In [ ]:
s = np.round(3.567, 1)
s

3.6

In [ ]:
s = np.round(1, 3.567)

TypeError: 'float' object cannot be interpreted as an integer

- 파라미터의 순서를 바꿔서 입력하는 방법

In [ ]:
s = np.round(decimals=1, a=3.567)
s

3.6

# print 함수
- print()
- print(f'')
> 중간중간에 원하는 변수의 값을 출력할 수 있음

In [ ]:
print('Round:', s)

Round: 3.6

In [ ]:
print(f'{s = }')

s = 3.6

In [ ]:
print(f'{s = :.2f}')

s = 3.60

# 조건문
- if
- elif
- else
> 줄을 잘 맞춰줘야 함 <br>
> 중첩문이 많지 않도록 주의

In [ ]:
if s < 3:
  print('small')
elif s == 3:
  print('3')
else:
  print('big')

big

# 고급 데이터 타입
- 리스트
  - 다양한 타입의 데이터를 넣을 수 있음
  - 배열로 구성되어 있지 않기 때문에 가능한 것
  - 배열
  > 랜덤 접근(엑세스)이 가능한 것 <br>
  > 따라서 같은 타입만 넣을 수 있음 <br>
  - 리스트
  > 랜덤 엑세스 불가능 <br>
  > 랜덤 엑세스가 가능해지도록 리스트인데 배열처럼 들어감 <br>
  > 그 칸에 가면 해당 변수를 가리키는 주소가 들어 있는 것 <br>
  - 리스트: 수정 가능한 객체
  ```pyton
  a = [3, 4, 5]
  b = a
  a[2] = 10
  print(b[2])    # 출력: 10
  ```
  > a가 가르키고 있는 [3, 4, 5]라는 객체를 b도 가르키는 것

    ```pyton
    a = 8
    print(b[0])    # 출력: 3
    ```
    > a는 8을 가르키고, b는 [3, 4, 5]를 가리키고 있음

- 튜플
  - 튜플: 수정 불가능한 객체
  - ( ) 로 생성
  > 값이 바뀌는 것을 방지하기 위해서 사용

- 딕셔너리
  - { } 로 생성
  - 내부적으로 hash를 사용함
  > 속도면에서 굉장한 장점이 있음
  - 리스트와 딕셔너리의 차이점
  > 딕셔너리는 순서가 없음 <br>
  > 대신, key가 있음

In [ ]:
vs = [1, 3, 'hi', 8.5]

In [ ]:
point_tupple = (3, 5)
point_tupple

(3, 5)

In [ ]:
point_list = [3, 5]
point_list

[3, 5]

In [ ]:
point_list[1] = 8
point_list

[3, 8]

In [ ]:
point_tupple[1] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
b1 = {'title': 'Narnia', 'author': 'C.S.Lewis'}
b2 = {'title': '난중일기', 'author': '이순신'}

In [ ]:
b1['title']

'Narnia'

In [ ]:
b2['title']

'난중일기'

책들이 여러 권 붙어 있는 형태로도 만들 수 있음

In [ ]:
books = [b1, b2]
books

[{'title': 'Narnia', 'author': 'C.S.Lewis'},
 {'title': '난중일기', 'author': '이순신'}]

In [ ]:
dict_eng = {'Korea': '한국', 'Thank you': '감사합니다'}

In [ ]:
dict_eng['Korea']

'한국'

# 반복문
> 반복문을 사용하면, 코드를 간단하게 짤 수 있음
- while
- for
  - range 사용
  - 리스트 값 사용
  - enumerate: 인덱스와 데이터가 나옴

In [ ]:
a = 0
while a < 10:
  print(a)
  a += 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
for a in range(10):
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
a = range(10)
a

range(0, 10)

In [ ]:
list(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for a in [0,1,2,3,4,5,6,7,8,9]:
  print(a)

0
1
2
3
4
5
6
7
8
9

In [ ]:
data = [3, 4, 'Hello', 4.6]

In [ ]:
for d in data:
  print(d)

3
4
Hello
4.6

In [ ]:
for idx in range(len(data)):
  print(data[idx])

3
4
Hello
4.6

In [ ]:
for idx, d in enumerate(data):
  print(idx, d)

0 3
1 4
2 Hello
3 4.6

# 연습
- 100과 200 사이의 자연수 중, 제곱근이 자연수인 수를 모두 출력하는 코드를 작성하시오

In [ ]:
import numpy as np

In [ ]:
for i in range(100,201):
  sq = np.sqrt(i)
  if sq == int(sq):
    print(sq)

10.0
11.0
12.0
13.0
14.0

- 100 이하의 자연수 중 3으로 나누어 떨어지지 않는 수를 모두 출력하는 코드를 작성하라

In [ ]:
for i in range(1,101):
  if i % 3 != 0:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98
100

In [ ]:
i