<a href="https://colab.research.google.com/github/kimayeon-hub/DeepLearning1/blob/main/Python/Week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반목문(for)과 조건문(if) 연습

### 문제1
1부터 200까지의 숫자 중에서 4의 배수이면서 6의 배수인 숫자들의 합을 구하는 함수를 작성하시오. 합이 1000을 초과하면 멈추고 그때까지의 합을 반환하시오.

In [31]:
def Sum():
  sum = 0
  for num in range(1, 201):
    if num % 4 == 0 and num % 6 == 0:
      sum += num
    if sum > 1000:
      break
  return sum

Sum()

1092

### 문제2
세 개의 정수를 입력받아 가장 큰 수와 가장 작은 수를 찾아 출력하는 함수를 작성하시오. 단, 세 수가 모두 같으면 '모든 수가 같습니다'를 반환하시오.

In [28]:
def find_max_min(num1, num2, num3):
  if num1 == num2 == num3:
    return '모든 수가 같습니다'

  if num1 >= num2 and num1 >= num3:
    max = num1
  elif num2 >= num1 and num2 >= num3:
    max = num2
  else:
    max = num3

  if num1 <= num2 and num1 <= num3:
    min = num1
  elif num2 <= num1 and num2 <= num3:
    min = num2
  else:
    min = num3

  return max, min

find_max_min(1, 5, 5)

(5, 1)

# 리스트(list) 연습

### 문제3
일주일 동안 카페에서 사용한 카드 금액이 일 단위로 리스트에 저장되어 있다. 이 리스트를 받아, 총 지출과 하루 평균 지출을 반환하는 함수를 작성하시오.

In [35]:
def total_mean_sqending(log_list):
  total = sum(log_list)
  avg = total / len(log_list)
  return total, avg

total_mean_sqending([1000, 2000, 3000, 4000, 5000, 6000, 7000])

(28000, 4000.0)

### 문제4
어떤 사람이 매달 저축한 금액, 연, 월 정보를 배열로 입력받아, 다음 정보를 반환하는 함수를 작성하시오.
1. 연간 총 저축액
2. 가장 적게 저축한 연/월

단, 연, 월 정보와 저축핵 정보는 별도의 리스트에 저장되어 있다.

In [42]:
saving = [20, 30, 25, 18, 57, 19, 50, 20, 10, 100, 14, 5]
year = [2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024 ,2024, 2024, 2024, 2024]
month = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [43]:
def saveMoney_minYM(prices, years, months):
  total = sum(prices)

  # min = prices[0]
  # for idx, price in enumerate(prices):
  #  if price < min:
  #    min = price
  #    min_idx = idx

  min_idx = saving.index(min(prices))  # .index()로 인덱스를 알아낼 수 있음
  min_year = years[min_idx]
  min_month = months[min_idx]

  return total, min_year, min_month

saveMoney_minYM(saving, year, month)

(368, 2024, 12)

# 2차원 배열 연습

### 문제5
2차원 리스트로 구성된 구구단 표를 반환하는 함수를 작성하시오.


이 함수에서, 2차원 리스트의 행은 1부터 9까지의 단을, 열은 각 단의 1부터 9까지의 곱셈 결과를 저장하도록 하시오.

In [46]:
def gugudan():
  gugudan = []
  for x in range(1, 10):
    row = []
    for y in range(1, 10):
      row.append(x * y)
    gugudan.append(row)
  return gugudan

gugudan()

[[1, 2, 3, 4, 5, 6, 7, 8, 9],
 [2, 4, 6, 8, 10, 12, 14, 16, 18],
 [3, 6, 9, 12, 15, 18, 21, 24, 27],
 [4, 8, 12, 16, 20, 24, 28, 32, 36],
 [5, 10, 15, 20, 25, 30, 35, 40, 45],
 [6, 12, 18, 24, 30, 36, 42, 48, 54],
 [7, 14, 21, 28, 35, 42, 49, 56, 63],
 [8, 16, 24, 32, 40, 48, 56, 64, 72],
 [9, 18, 27, 36, 45, 54, 63, 72, 81]]

# 실습

### 문제1
사용자가 한 달 동안 먹은 음식 이름을 리스트로 입력받아, 중복된 음식의 개수를 계산하여 반환하는 함수를 작성하시오. (for, 딕셔너리 활용)


예를 들어, "피자"를 여러 번 먹은 경우 그 횟수를 세어 출력하시오.

In [48]:
foods = ["피자", "햄버거", "피자", "치킨", "피자", "햄버거", "치킨"]

In [49]:
def count_food(food_list):
  food_dict = {food:food_list.count(food) for food in food_list}
  return food_dict

count_food(foods)

{'피자': 3, '햄버거': 2, '치킨': 2}

### 문제2
어떤 사람이 4주 동안 운동한 시간이 일별로 배열에 저장되어 있다. (총 28일).


매 주차의 평균 운동 시간을 계산하여 총 4개의 값을 반환하는 함수를 작성하시오.

In [50]:
workout_time = [1, 2, 1.5, 3, 0.4, 0, 0.6,
                0.5, 1, 0.5, 2, 0, 1, 1.5,
                1.5, 1, 0.5, 2.5, 0.1, 0, 1,
                2, 2, 1.0, 2, 0.5, 0, 1.5]

In [55]:
def avgWorkout_per_week(workout_list):
  avg = []

#  week_time = 0
#  for idx, time in enumerate(workout_list):
#    week_time += time
#    if idx % 7 == 6:  # 한 주의 마지막 날이라면
#      avg.append(week_time / 7)
#      week_time = 0

  for i in range(0, 4):
    week = workout_list[7*i : 7*(i+1)]
    avg.append(sum(week) / len(week))

  return avg

avgWorkout_per_week(workout_time)

[1.2142857142857142,
 0.9285714285714286,
 0.9428571428571428,
 1.2857142857142858]

### 문제3
4개의 천문대에서 5일 동안 관측한 별똥별의 수가 2차원 배열에 저장되어 있다.


각 천문대별 총 관측 수, 가장 별똥별을 많이 관측한 날과 그 값을 각각 dictionary로 구성하고, 리스트로 합쳐 반환하는 함수를 작성하시오.

In [58]:
observatories = ['천문대 A', '천문대 B', '천문대 C', '천문대 D']
observations = [[15, 20, 35, 10, 5],  # 천문대 A
                [12, 25, 22, 18, 30], # 천문대 B
                [20, 30, 25, 15, 10], # 천문대 C
                [5, 10, 20, 35, 25]]  # 천문대 D

In [60]:
def stats_observatories(station, obs):
  stats = []
  for i in range(4):
    dic = {}
    dic['name'] = station[i]
    dic['total'] = sum(obs[i])
    dic['max'] = max(obs[i])
    dic['max_date'] = obs[i].index(dic['max']) + 1

    stats.append(dic)

  return stats

stats_observatories(observatories, observations)

[{'name': '천문대 A', 'total': 85, 'max': 35, 'max_date': 3},
 {'name': '천문대 B', 'total': 107, 'max': 30, 'max_date': 5},
 {'name': '천문대 C', 'total': 100, 'max': 30, 'max_date': 2},
 {'name': '천문대 D', 'total': 95, 'max': 35, 'max_date': 4}]